
html, body {
    height: 100%;
    background-color: whitesmoke;
}

.main-content {
    //flex: 1;
}

.footer {
    margin-top: -12px;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
        display: block;
    }
}