
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
                Base
            {% endblock %}
        </title>

        {% block statics %}
            <link href = "https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel = stylesheet>
            <link rel = stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
            <link rel = stylesheet type = text/css href = "{{ url_for('static', filename = 'css/bulma.css') }}">
            <link rel = stylesheet type = text/css href = "{{ url_for('static', filename = 'css/style.css') }}">
            <link rel = stylesheet type = text/css href = "{{ url_for('static', filename = 'css/aside.css') }}">
            <script src = "{{ url_for('static', filename = 'js/vue.js') }}"></script>
        {% endblock %}
    </head>

    <body>
        {% block nav %}
            <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://bulma.io">
                        Native Ads Scrapper
                    </a>
                
                    <div class="navbar-burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
        
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">Fav</a>
        
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                              Test123
                            </a>
                          
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    My Profile
                                </a>
                                <a class="navbar-item">
                                    Subscriptions
                                </a>
                                <a class="navbar-item">
                                    LogOut
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% block container %}
            <div class="columns">
                {% block leftbar %}
                    <!-- Aside nav drawer -->
                    <aside class="column is-2 is-hidden-mobile" style="position: fixed; float: left;">
                        <div class="panel"> 
                            <hr>
                            <a class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-chart-bar"></i>
                                </span>
                                <span class="name">Adverts</span>
                            </a> <hr>
                            <a class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-chart-pie"></i>
                                </span>
                                <span class="name">Advertisers</span>
                            </a> <hr>
                            <a class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <span class="name">Favourites</span>
                            </a> <hr>
                            <a class="panel-block">
                                <span class="panel-icon">
                                    <i class="fas fa-question"></i>
                                </span>
                                <span class="name">FAQ</span>
                            </a>
                        </div>
                    </aside>
                {% endblock %}

                {% block rightsidebar %}{% endblock %}
            </div>
        {% endblock %}

        {% block pagination %}{% endblock %}
    </body>

    {% block footer %}
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <strong>Bulma</strong> by
                        <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    </p>
                </div>
            </div>
        </footer>
    {% endblock %}

    {% block js %}
    {% endblock %}
</html>