
{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block rightsidebar %}
    <div class="modal" id="modalbox">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>Pictures</a></li>
                        <li><a>Music</a></li>
                        <li><a>Videos</a></li>
                        <li><a>Documents</a></li>
                    </ul>
                </div>
                
                <button class="delete" aria-label="close" onclick="closeModal()"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
        </div>
    </div>

    <section class="column" style="float: left; margin-left: 230px;">
        <h2 class="subtitle">Adverts</h2>

        {% for ad in ads %}
            <div class="card" style="width: 256px; height:370px; float:left; margin-right: 10px; margin-bottom: 15px;">
                <div class="card-image">
                    <figure class="image is-256X256">
                        <img src="{{ url_for('static', filename = 'images/') }}{{ ad.ad_img_src }}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">                      
                    <div class="content">
                        <a onclick="openModal()">{{ ad.ad_line_1 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block pagination %}
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if prev_url %}
            <a class="pagination-previous" href = "{{ prev_url }}">Previous</a>
        {% endif %}

        {% if next_url %}
            <a class="pagination-next" href = "{{ next_url }}">Next page</a>
        {% endif %}
    </nav>
{% endblock %}

{% block js %}
    <script type = "text/javascript">
        function openModal() {
            var mb = document.getElementById('modalbox');
            mb.className += ' is-active';
        }

        function closeModal() {
            var mb = document.getElementById('modalbox');
            mb.className = 'modal';
        }
    </script>
{% endblock %}