<head>
    <title>The Real Reason Dogs Tilt Their Heads - ZergNet</title>

    <meta itemprop="name" content="The Real Reason Dogs Tilt Their Heads">
                        <meta itemprop="description" content="The bonds we have with our canine companions are unlike any other friendships or relationships we have. Some of us love our dogs like children, and it's no wonder. There's an unconditional...">
                        <meta itemprop="image" content="http://img.zergnet.com/2112920_300.jpg"><meta property="og:title" content="The Real Reason Dogs Tilt Their Heads">
                        <meta property="og:type" content="article">
                        <meta property="og:description" content="The bonds we have with our canine companions are unlike any other friendships or relationships we have. Some of us love our dogs like children, and it's no wonder. There's an unconditional...">
                        <meta property="og:url" content="http://www.zergnet.com/news/2112920/the-real-reason-dogs-tilt-their-heads">
                        <meta property="og:image" content="http://img.zergnet.com/2112920_300.jpg">
                        <meta property="og:site_name" content="ZergNet.com"><meta name="twitter:card" content="summary">
                        <meta name="twitter:site" content="@ZergNetMoviesTV">
                        <meta name="twitter:title" content="The Real Reason Dogs Tilt Their Heads">
                        <meta name="twitter:description" content="The bonds we have with our canine companions are unlike any other friendships or relationships we have. Some of us love our dogs like children, and it's no wonder. There's an unconditional...">
                        <meta name="twitter:image" content="http://img.zergnet.com/2112920_300.jpg">
    <link rel="shortcut icon" href="http://www.zergnet.com/favicon.ico">
    <link rel="canonical" href="http://www.zergnet.com/news/2112920/the-real-reason-dogs-tilt-their-heads">

    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="fb:admins" content="100003356974192">
    <meta property="fb:app_id" content="286024868122055">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://img2.zergnet.com/0_assets/css/index_v23.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->

    
</head>

<body style="min-width:1090px;">
<div class="nav-drop">
    <div class="jcf-scrollable">
        <div class="nav-top">
            <div class="logo">
                &nbsp;
                <a href="#" class="nav-opener close"><span>×</span></a>
            </div>
        </div>
        <div class="aside-holder">
            <div id="aside-nav">
                <ul>
                    <li class=""><a href="/v/gaming">Video Games</a></li>
                    <li class=""><a href="/v/movies">Movies</a></li>
                    <li class=""><a href="/v/celeb">Entertainment</a></li>
                    <li class=""><a href="/v/food">Food</a></li>
                    <li class=""><a href="/v/menslife">Men's Lifestyle</a></li>
                    <li class=""><a href="/v/sports">Sports</a></li>
                    <li class=""><a href="/v/tv">TV</a></li>
                    <li class=""><a href="/v/womenslife">Women's Lifestyle</a></li>
                    <li class=""><a href="/v/health">Health and Fitness</a></li>
                    <li class=""><a href="/v/travel">Travel</a></li>
                    <li class=""><a href="/v/parenting">Parenting</a></li>
                    <li class=""><a href="/v/viral">Viral</a></li>
                    <li class="info-links first-info-link"><a href="/info">About Us</a></li>
                    <li class="info-links"><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <span class="copyright-info">© 2018                ZergNet.com.
                All rights reserved
            </span>
        </div>
    </div>
</div>    <div id="header">
        <div class="header-holder">
          <a href="#" class="nav-opener"><span>Menu</span></a>
          <strong class="logo"><a href="http://ZergNet.com">ZergNet</a></strong>
            <ul id="nav">
                <li><a href="http://www.zergnet.com/v/movies">MOVIES</a></li>
                <li class="spring"><a href="http://www.zergnet.com/v/gaming">GAMING</a></li>
                <li class="magenta"><a href="http://www.zergnet.com/v/celeb">ENTERTAINMENT</a></li>
                <li class="coral"><a href="http://www.zergnet.com/v/sports">SPORTS</a></li>
                <li class="pink"><a href="http://www.zergnet.com/v/food">FOOD &amp; DRINK</a></li>
                <li class="orange"><a href="http://www.zergnet.com/v/men">MEN’S LIFESTYLE</a></li>
            </ul>
            <div class="btn-holder">
                <a href="https://www.zergnet.com/info" class="btn-sign-up">Learn More</a>
                <a href="https://www.zergnet.com/info?l=1" class="btn-login">Login</a>
            </div>
        </div>
    </div>


<div id="main-container">
<div id="container" class="main-container" style="clear: both; display: block; position: relative; width: 494px; height: 396px;">
    
    <div id="main">

                    <div class="item first" style="position: absolute; left: 0px; top: 0px;">

          <a class="mainbox-link" href="http://www.zergnet.com/o/2112920/1/0/2112920" data-destination-hash="92535b6496fbfd7d7ef1a7a46e830668" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Featured']);">
          <span class="img-holder" style="position:relative;height:300px;background:#333;">
            <img style="position:absolute;left:192px;" src="http://img2.zergnet.com/2112920_300.jpg" title="The Real Reason Dogs Tilt Their Heads" alt="The Real Reason Dogs Tilt Their Heads" width="300" height="300" border="0">
            <strong class="title-box"><span class="bg">The Real Reason </span><br><span class="bg">Dogs Tilt Their </span><br><span class="bg">Heads </span><br></strong>
                          <img class="top" src="http://img1.zergnet.com/0_assets/images/icon-zerg.png" width="56" height="57">
                      </span>
                    <span class="text" style="color:#555;">The bonds we have with our canine companions are unlike any other friendships or relationships we have. Some of us love our dogs like children, and it's no wonder. There's an unconditional...<div style="clear:both;"></div></span>
                    <span class="view" style="top:200px;">VIEW STORY</span>
                    <span class="hover-block"></span>
                </a>
            </div>

        

</div>
</div>

</div>

<div id="bottomdiv" class="clear">&nbsp;</div>
<div id="fb-root"></div>

<div style="height: 25px;"></div>


<script src="https://connect.facebook.net/signals/config/1518983274790401?v=2.8.12&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="http://rules.quantcount.com/rules-p-WvZ13FAptHuHF.js"></script><script async="" src="http://b.scorecardresearch.com/beacon.js"></script><script src="http://edge.quantserve.com/quant.js" async="" type="text/javascript"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://img4.zergnet.com/0_assets/js/zergonry.v5.min.js"></script>
<script src="http://img.zergnet.com/0_assets/js/nav.min.js?v=1"></script>
<script language="javascript" type="text/javascript">
    var ajaxworking = 0;
    var $container = $('#container');
    var nextpage = "#/2112920/2/0/59193/0";

    $container.show();

    $container.masonry({
        itemSelector : '.item',
        isFitWidth: true,
        transitionDuration: 0,
        gutter: 10,
                columnWidth : 242
    });
    
    ajaxScroll(1);
    resetscroll();

    var foundUrls = {};
    $(".item a").each(function(){
        var hash = $(this).attr("data-destination-hash");
        if ( hash ) {
            foundUrls[hash] = 1;
        }
    });

    function ajaxScroll(first) {
        if (ajaxworking < 1) {
            ajaxworking = 1;
            var runTest = false;

            if (nextpage != "none"){
                $.ajax({
                    url: '/ajax/load_results.php',
                    dataType: 'jsonp',
                    data: {
                        queryString: nextpage,
                        runTest: runTest
                    },
                    success: function(data) {
                        ajaxworking = 0;
                        nextpage = data.nexturl;
                        var $boxes = data.boxes;
                        var $finalBoxes = [];
                        for ( var b = 0; b < $boxes.length; b++ ) {
                            var match = $boxes[b].match(/data-destination-hash="[^\"]+"/)
                            if (match) {
                                var url = match[0].replace('data-destination-hash=', '').replace(/"/g, '')
                                if (typeof( foundUrls[url] ) === "undefined") {
                                    foundUrls[url] = 1;
                                    var els = $.parseHTML($boxes[b]);
                                    for ( var i = 0; i < els.length; i++ ) {
                                        if ( els[i].nodeType == 1 ) {
                                            $finalBoxes.push(els[1]);
                                        }
                                    }
                                }
                            }
                        }

                        $('#container').append($finalBoxes).masonry('appended', $finalBoxes);


                        if (first == 0) {
                            _gaq.push(['_trackPageview']);
                        } else {
                             _gaq.push(['_trackEvent', 'Desktop-Control', 'Page Scroll']);
                        }

                        var docHeight = $(document).height();
                        var docScroll = $(window).height() + $(window).scrollTop();
                        if (docHeight == docScroll) {
                            ajaxScroll(0);
                        }
                    }
                });
            }
        }
    }

    function getbottom(){
        var el = $('#bottomdiv');
        if (!el.length) return 0;
        var bottom = el.offset().top + (el.height());
        return bottom-400;
    }


    function resetscroll(){
        $(window).scroll(scroll_handler);
    }


    function scroll_handler(){
        if (($(window).scrollTop() + $(window).height()) >= getbottom()) {
            ajaxScroll(0);
        }
    }

    initMobileNav();
</script>
<script>
// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27989123-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();


// Quantcast
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({ qacct:"p-WvZ13FAptHuHF" });


// Comscore
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "15365226" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);



var test = document.createElement('div');
test.innerHTML = '&nbsp;';
test.className = 'adsbox';
document.body.appendChild(test);
window.setTimeout(function() {
	if (test.offsetHeight === 0) {
		_gaq.push(['_trackEvent','AdBlock','1']);
	} else {
                    // FB
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1518983274790401');
            fbq('track', 'PageView');
            fbq('track', 'v', {id: 68});
            }
}, 100);
})();
</script><div class="adsbox">&nbsp;</div>
<script>

    (function() {
      if ( typeof( _gaq ) !== "undefined" ) {
            _gaq.push(['_trackEvent', 'Desktop-Control','View']);
        }
    })();

</script>



</body>