<head>
    <title>These Are the 25 Smartest Dog Breeds, According to Science - ZergNet</title>

    <meta itemprop="name" content="These Are the 25 Smartest Dog Breeds, According to Science">
                        <meta itemprop="description" content="It goes without saying that all dogs are adorable. But as anyone who’s spent two minutes with a beagle knows, some breeds are just a little goofier than others. So, when it comes to obedience...">
                        <meta itemprop="image" content="http://img.zergnet.com/2270785_300.jpg"><meta property="og:title" content="These Are the 25 Smartest Dog Breeds, According to Science">
                        <meta property="og:type" content="article">
                        <meta property="og:description" content="It goes without saying that all dogs are adorable. But as anyone who’s spent two minutes with a beagle knows, some breeds are just a little goofier than others. So, when it comes to obedience...">
                        <meta property="og:url" content="http://www.zergnet.com/news/2270785/these-are-the-25-smartest-dog-breeds-according-to-science">
                        <meta property="og:image" content="http://img.zergnet.com/2270785_300.jpg">
                        <meta property="og:site_name" content="ZergNet.com"><meta name="twitter:card" content="summary">
                        <meta name="twitter:site" content="@ZergNetMoviesTV">
                        <meta name="twitter:title" content="These Are the 25 Smartest Dog Breeds, According to Science">
                        <meta name="twitter:description" content="It goes without saying that all dogs are adorable. But as anyone who’s spent two minutes with a beagle knows, some breeds are just a little goofier than others. So, when it comes to obedience...">
                        <meta name="twitter:image" content="http://img.zergnet.com/2270785_300.jpg">
    <link rel="shortcut icon" href="http://www.zergnet.com/favicon.ico">
    <link rel="canonical" href="http://www.zergnet.com/news/2270785/these-are-the-25-smartest-dog-breeds-according-to-science">

    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="fb:admins" content="100003356974192">
    <meta property="fb:app_id" content="286024868122055">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://img2.zergnet.com/0_assets/css/index_v23.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->

    
</head>

<body style="min-width:1090px;">
<div class="nav-drop">
    <div class="jcf-scrollable">
        <div class="nav-top">
            <div class="logo">
                &nbsp;
                <a href="#" class="nav-opener close"><span>×</span></a>
            </div>
        </div>
        <div class="aside-holder">
            <div id="aside-nav">
                <ul>
                    <li class=""><a href="/v/gaming">Video Games</a></li>
                    <li class=""><a href="/v/movies">Movies</a></li>
                    <li class=""><a href="/v/celeb">Entertainment</a></li>
                    <li class=""><a href="/v/food">Food</a></li>
                    <li class=""><a href="/v/menslife">Men's Lifestyle</a></li>
                    <li class=""><a href="/v/sports">Sports</a></li>
                    <li class=""><a href="/v/tv">TV</a></li>
                    <li class=""><a href="/v/womenslife">Women's Lifestyle</a></li>
                    <li class=""><a href="/v/health">Health and Fitness</a></li>
                    <li class=""><a href="/v/travel">Travel</a></li>
                    <li class=""><a href="/v/parenting">Parenting</a></li>
                    <li class=""><a href="/v/viral">Viral</a></li>
                    <li class="info-links first-info-link"><a href="/info">About Us</a></li>
                    <li class="info-links"><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <span class="copyright-info">© 2018                ZergNet.com.
                All rights reserved
            </span>
        </div>
    </div>
</div>    <div id="header">
        <div class="header-holder">
          <a href="#" class="nav-opener"><span>Menu</span></a>
          <strong class="logo"><a href="http://ZergNet.com">ZergNet</a></strong>
            <ul id="nav">
                <li><a href="http://www.zergnet.com/v/movies">MOVIES</a></li>
                <li class="spring"><a href="http://www.zergnet.com/v/gaming">GAMING</a></li>
                <li class="magenta"><a href="http://www.zergnet.com/v/celeb">ENTERTAINMENT</a></li>
                <li class="coral"><a href="http://www.zergnet.com/v/sports">SPORTS</a></li>
                <li class="pink"><a href="http://www.zergnet.com/v/food">FOOD &amp; DRINK</a></li>
                <li class="orange"><a href="http://www.zergnet.com/v/men">MEN’S LIFESTYLE</a></li>
            </ul>
            <div class="btn-holder">
                <a href="https://www.zergnet.com/info" class="btn-sign-up">Learn More</a>
                <a href="https://www.zergnet.com/info?l=1" class="btn-login">Login</a>
            </div>
        </div>
    </div>


<div id="main-container">
<div id="container" class="main-container" style="clear: both; display: block; position: relative; width: 1250px; height: 4114px;">
    
    <div id="main">

                    <div class="item first" style="position: absolute; left: 0px; top: 0px;">

          <a class="mainbox-link" href="http://www.zergnet.com/o/2270785/1/0/2270785" data-destination-hash="fe56a641396202bb7d2c254b51e00f17" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Featured']);">
          <span class="img-holder" style="position:relative;height:300px;background:#333;">
            <img style="position:absolute;left:192px;" src="http://img2.zergnet.com/2270785_300.jpg" title="These Are the 25 Smartest Dog Breeds, According to Science" alt="These Are the 25 Smartest Dog Breeds, According to Science" width="300" height="300" border="0">
            <strong class="title-box"><span class="bg">These Are the 25 </span><br><span class="bg">Smartest Dog </span><br><span class="bg">Breeds, According </span><br><span class="bg">to Science </span><br></strong>
                          <img class="top" src="http://img1.zergnet.com/0_assets/images/icon-zerg.png" width="56" height="57">
                      </span>
                    <span class="text" style="color:#555;">It goes without saying that all dogs are adorable. But as anyone who’s spent two minutes with a beagle knows, some breeds are just a little goofier than others. So, when it comes to obedience...<div style="clear:both;"></div></span>
                    <span class="view">VIEW STORY</span>
                    <span class="hover-block"></span>
                </a>
            </div>

        

</div>
<div class="item second" style="position: absolute; left: 504px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320523/1/0/2270785/1/" data-destination-hash="ca759b6ab834b6506b4f742c4e514d66" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 1']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2320523_240.jpg" title="The Most Obedient Dog Breeds Ever" alt="The Most Obedient Dog Breeds Ever" width="240" height="240">

                            <span class="named">                                <strong class="title-news">The Most Obedient Dog Breeds Ever</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2674587/1/0/2270785/2/" data-destination-hash="0545f77e7d5c465703ad7c54daeea574" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 2']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2674587_240.jpg" title="30 Popular Dog Breeds That Don't Shed" alt="30 Popular Dog Breeds That Don't Shed" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">30 Popular Dog Breeds That Don't Shed</strong>
                            <span>Dogs are awesome and&nbsp;offer their owners many free perks. But dog hair is not one of them. If you're looking for a pooch that isn't a shedding machine, don't worry -- you've got options. The truth...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1240050/1/0/2270785/3/" data-destination-hash="015c794236b0b5b29a67d07e4617c6dc" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 3']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1240050_240.jpg" title="What Dog Breed Should You Get Based on Your Personality Type?" alt="What Dog Breed Should You Get Based on Your Personality Type?" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">What Dog Breed Should You Get Based on Your Personality Type?</strong>
                            <span>Getting a dog is a big decision, and no two breeds are exactly the same. For example, a lazy basset hound may be content chilling all day on his doggy bed, but that frisky golden retriever isn’t...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 252px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2309662/1/0/2270785/4/" data-destination-hash="04e4cf98b0cde6f5aea0686ae667ba7c" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 4']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2309662_240.jpg" title="The Most Popular Dog Names of 2017" alt="The Most Popular Dog Names of 2017" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">The Most Popular Dog Names of 2017</strong>
                            <span>Rover has announced its annual list of most popular dog names for the year. And the winners are...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 396px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2551580/1/0/2270785/5/" data-destination-hash="4659e5045007f33a65dcac9c4260b59a" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 5']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2551580_240.jpg" title="How Many Hours Do Dogs Sleep Each Day?" alt="How Many Hours Do Dogs Sleep Each Day?" width="240" height="240">

                            <span class="named">                                <strong class="title-news">How Many Hours Do Dogs Sleep Each Day?</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 396px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2399803/1/0/2270785/6/" data-destination-hash="31b3e410e1394a1f756f4bf25180706d" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 6']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2399803_240.jpg" title="Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You" alt="Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You</strong>
                            <span>Pet dogs   communicate with specific facial expressions when their owners are looking at them, according to a new study, and not just because they’re excited about the possibility of food....</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 473px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320571/1/0/2270785/7/" data-destination-hash="fac19dff5434739d0265023495ad3725" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 7']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2320571_240.jpg" title="Top 10 Dog Breeds Suitable for Young Kids" alt="Top 10 Dog Breeds Suitable for Young Kids" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Top 10 Dog Breeds Suitable for Young Kids</strong>
                            <span>A dog is famously considered to be man's best friend, but while it's a beautiful thought in itself, your pet can become so much more than that. Beyond friends, they are protectors, a source of...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 497px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2345201/1/0/2270785/8/" data-destination-hash="bbc28cffa4a6de6d706996361cc66cff" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 8']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2345201_240.jpg" title="These Are the Best Dog Breeds for Seniors and Retirees" alt="These Are the Best Dog Breeds for Seniors and Retirees" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are the Best Dog Breeds for Seniors and Retirees</strong>
                            <span>Dog ownership offers many health benefits and&nbsp;improves your life in many important ways. And retirement can be the ideal time to bring a new furry companion into your home, especially if you find...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 647px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320563/1/0/2270785/9/" data-destination-hash="17d5eb823c1564b87827f52d99b085a0" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 9']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2320563_240.jpg" title="10 Best Dog Breeds for City Dwellers" alt="10 Best Dog Breeds for City Dwellers" width="240" height="240">

                            <span class="named">                                <strong class="title-news">10 Best Dog Breeds for City Dwellers</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 648px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2293343/1/0/2270785/10/" data-destination-hash="5155697f38f0842d20354acafd285478" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 10']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2293343_240.jpg" title="How Your Dog Can Improve Your Sleep" alt="How Your Dog Can Improve Your Sleep" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">How Your Dog Can Improve Your Sleep</strong>
                            <span>In our&nbsp;daily news series, experts address some of the latest fitness research, nutrition, style, and health stories.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 893px;">
                    <a class="box-link" href="http://www.zergnet.com/o/846167/1/0/2270785/11/" data-destination-hash="4ad26f7e65e79a0bf71326fe89c988b5" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 11']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/846167_240.jpg" title="10 Small Dog Breeds That Are Great With Children" alt="10 Small Dog Breeds That Are Great With Children" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Small Dog Breeds That Are Great With Children</strong>
                            <span>This pint-sized pup has an irresistible face and prominently curved tail that any child will find intriguing. The Pug does especially well in a moderate climate but is just as comfortable hanging...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 899px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2462744/1/0/2270785/12/" data-destination-hash="818b1d081443ed817ec721ead2479964" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 12']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2462744_240.jpg" title="11 Quiet Dog Breeds" alt="11 Quiet Dog Breeds" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">11 Quiet Dog Breeds</strong>
                            <span>“Barking is a dog’s way of communicating with the world, but some breeds tend to be quieter than others,” says Gina DiNardo, executive secretary of the American Kennel Club. “Certain...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 946px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2476405/1/0/2270785/13/" data-destination-hash="22c616e2375f863b1aafb0edafac6438" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 13']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2476405_240.jpg" title="12 Awesome Dog Breeds That Don't Mind the Snow" alt="12 Awesome Dog Breeds That Don't Mind the Snow" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">12 Awesome Dog Breeds That Don't Mind the Snow</strong>
                            <span>Clearly, when you hear of a dog with "Alaska" in its name, you know that pup is winter-ready...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 970px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2434410/1/0/2270785/14/" data-destination-hash="bc61546790943f90399f1e5d421a212c" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 14']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2434410_240.jpg" title="How to Name Your Dog" alt="How to Name Your Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">How to Name Your Dog</strong>
                            <span>So you've finally picked the perfect pooch. You did your research on breeds and mixes. You considered age, gender and types of fur. Now that darling new family member is looking up at you and it's...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 1061px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2093212/1/0/2270785/15/" data-destination-hash="fc0ee9c203dc34e18a4952b997326ceb" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 15']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2093212_240.jpg" title="10 Dog Breeds That Are Super Difficult to train" alt="10 Dog Breeds That Are Super Difficult to train" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Dog Breeds That Are Super Difficult to train</strong>
                            <span>We'd all love to adopt a puppy who comes automatically potty trained and is perfectly obedient from the get-go. A super-cute dog that sits, stays and doesn't pee all over the floor sounds like a...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 1324px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1224887/1/0/2270785/16/" data-destination-hash="490bd717ebab59ee137426391281d029" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 16']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/1224887_240.jpg" title="15 Foods You Should Never Give to Your Dog" alt="15 Foods You Should Never Give to Your Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Foods You Should Never Give to Your Dog</strong>
                            <span>Dogs are mealtime opportunists. You’re finishing your dinner, and Sparky thinks it’s his turn to chow down on whatever table scraps are left on your plate. Or you’re grabbing a quick snack,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 1365px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1327332/1/0/2270785/17/" data-destination-hash="7f6ae52e238e620a45bd0d0d74d69375" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 17']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/1327332_240.jpg" title="Slain Officer's K-9 Struggles to Say Goodbye During Wake" alt="Slain Officer's K-9 Struggles to Say Goodbye During Wake" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Slain Officer's K-9 Struggles to Say Goodbye During Wake</strong>
                            <span>Hundreds of people gathered at Ford Field Wednesday for a visitation for fallen Wayne State University police officer Collin Rose...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 1366px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2434412/1/0/2270785/18/" data-destination-hash="731d2f99bc6c8a87387f5dad7bca06b6" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 18']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2434412_240.jpg" title="What To Consider When Choosing a Dog Breed" alt="What To Consider When Choosing a Dog Breed" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">What To Consider When Choosing a Dog Breed</strong>
                            <span>Picking the right breed (or breed mix) means taking some time for self-reflection. Dogs come in all sizes, colors and furriness, but the right canine will fit your lifestyle and expectations. You...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 1419px;">
                    <a class="box-link" href="http://www.zergnet.com/o/843315/1/0/2270785/19/" data-destination-hash="f385cf8137dc119e82531726482c7aca" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 19']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/843315_240.jpg" title="20 Small Dog Breeds That Are The Cutest On The Planet" alt="20 Small Dog Breeds That Are The Cutest On The Planet" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">20 Small Dog Breeds That Are The Cutest On The Planet</strong>
                            <span>Lovingly referred to as the "Yorkie," the Yorkshire terrier is the ultimate cutie in small breeds. Not only are they tiny, some are even "teacup"! Adorable for dress-up or play, the Yorkshire...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 1534px;">
                    <a class="box-link" href="http://www.zergnet.com/o/819138/1/0/2270785/20/" data-destination-hash="624a81d5b58c579d7e52fe65e0e2ee87" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 20']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/819138_240.jpg" title="Dog Who Survived Having Muzzle Taped Gets Best Day Ever" alt="Dog Who Survived Having Muzzle Taped Gets Best Day Ever" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Dog Who Survived Having Muzzle Taped Gets Best Day Ever</strong>
                            <span>A dog found with her muzzle bound shut with electrical tape in July was just given the “Best Day Ever.” Caitlyn was taken in by the Charleston Animal Society after she was found with her...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 1797px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2302299/1/0/2270785/21/" data-destination-hash="bfdd782c20cf34b654228110e84c0f27" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 21']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2302299_240.jpg" title="7 Ways to Tell if Your Dog is Intelligent" alt="7 Ways to Tell if Your Dog is Intelligent" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">7 Ways to Tell if Your Dog is Intelligent</strong>
                            <span>Your pup is obviously the cutest, most well-behaved, smartest dog on the planet, right? That’s what dog owners like to think, anyway! But how can you tell if your pup really is extra...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 1839px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630158/1/0/2270785/22/" data-destination-hash="dc1ad799b6c5382449573b19693a6194" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 22']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2630158_240.jpg" title="'One in a Million' Yellow Cardinal Spotted by Photographer" alt="'One in a Million' Yellow Cardinal Spotted by Photographer" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">'One in a Million' Yellow Cardinal Spotted by Photographer</strong>
                            <span>An Alabama photographer recently captured stunning images of a cardinal so rare that experts have referred to it as "one in a million."&nbsp;</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 1844px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1399468/1/0/2270785/23/" data-destination-hash="19ce7811d5119d57af604f8f2e183f66" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 23']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1399468_240.jpg" title="15 Foods You Should Never Give to Your Dog" alt="15 Foods You Should Never Give to Your Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Foods You Should Never Give to Your Dog</strong>
                            <span>Dogs are mealtime opportunists. You’re finishing your dinner, and Sparky thinks it’s his turn to chow down on whatever table scraps are left on your plate. Or you’re grabbing a quick snack,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 1892px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2608285/1/0/2270785/24/" data-destination-hash="66deed921cb7f8624293e8a87e1e89e7" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 24']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2608285_240.jpg" title="Family Finds Super Strange Animal Behind Their TV" alt="Family Finds Super Strange Animal Behind Their TV" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Family Finds Super Strange Animal Behind Their TV</strong>
                            <span>“Do you know what it is?”</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 2007px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2494164/1/0/2270785/25/" data-destination-hash="798cd1890b0eafd6ea84490c6cc8647e" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 25']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2494164_240.jpg" title="Surprising Animals That Are More Likely to Kill You Than Sharks" alt="Surprising Animals That Are More Likely to Kill You Than Sharks" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Surprising Animals That Are More Likely to Kill You Than Sharks</strong>
                            <span>When it comes to the animals most likely to kill Americans, it’s not always the big beasts who are to blame.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 2246px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2452876/1/0/2270785/26/" data-destination-hash="003d96480586375db4f353492c9dd715" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 26']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2452876_240.jpg" title="Top 10 Most Exotic &amp; Expensive Pets" alt="Top 10 Most Exotic &amp; Expensive Pets" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Top 10 Most Exotic &amp; Expensive Pets</strong>
                            <span>A lot of people love cats and dogs, which are the most common pets. While dogs are usually friendly, cats can be extremely jealous, and after these two, fish are the most popular...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 2275px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630221/1/0/2270785/27/" data-destination-hash="0c2de162c51d572956b6229524bec93a" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 27']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2630221_240.jpg" title="Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;" alt="Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;</strong>
                            <span>Personnel at the Oklahoma City Zoo are working hard to solve the mystery of an 18-year-old lioness named Bridget who suddenly sprouted a partial mane. At this time, the long hair has grown only in...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 2300px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320509/1/0/2270785/28/" data-destination-hash="2ad4e38089680937e9d58174f9956240" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 28']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2320509_240.jpg" title="These Are The Benefits Of Having Two Dogs" alt="These Are The Benefits Of Having Two Dogs" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are The Benefits Of Having Two Dogs</strong>
                            <span>If you have a busy work schedule and spend a lot of time out of the home, having two dogs can help your peace of mind. Your dogs can play with each other, which can be effective for keeping...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 2317px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2461690/1/0/2270785/29/" data-destination-hash="db9e6c6bc92aa086cf7829090b3cb6de" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 29']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2461690_240.jpg" title="The World's Deadliest Cat Is Absolutely Adorable" alt="The World's Deadliest Cat Is Absolutely Adorable" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">The World's Deadliest Cat Is Absolutely Adorable</strong>
                            <span>The special also highlights another cute killer: the rusty spotted cat, which is the smallest cat in the world.&nbsp;</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 2468px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2133360/1/0/2270785/30/" data-destination-hash="387ce421743c44b440f9d11a70770576" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 30']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2133360_240.jpg" title="10 Dog Breeds With the Longest Life Span" alt="10 Dog Breeds With the Longest Life Span" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Dog Breeds With the Longest Life Span</strong>
                            <span>Want to know our #1 favorite thing about dogs? The way they never die. Yep, fun fact: Dogs live forever, so you never have to stress about losing your most loyal companion! Hooray!</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 2695px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1771571/1/0/2270785/31/" data-destination-hash="95851f9130f4ca5f35418237faa9ba14" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 31']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1771571_240.jpg" title="These Kittens Were Raised by Rabbits, So Now They Hop Like Them" alt="These Kittens Were Raised by Rabbits, So Now They Hop Like Them" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Kittens Were Raised by Rabbits, So Now They Hop Like Them</strong>
                            <span>If we were to create a hierarchy of cute things, bunnies and kittens would definitely fall in the top five. (We are leaving spots for puppies, babies, and chickadees, to be ordered however we see...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 2754px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2134031/1/0/2270785/32/" data-destination-hash="35577fc6e7035463a798e570214a5306" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 32']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2134031_240.jpg" title="Top 10 Cutest Puppies" alt="Top 10 Cutest Puppies" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Top 10 Cutest Puppies</strong>
                            <span>Sam the Bernese mountain dog is extremely affectionate and joyful, but also cuddly. Although large in size, Bernese mountain dogs love children. They are very happy and good-natured.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 2773px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1940828/1/0/2270785/33/" data-destination-hash="7b87f20af96cd80e419b89482e9e245b" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 33']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/1940828_240.jpg" title="10 Large Dog Breeds That Are Impossible Not to Love" alt="10 Large Dog Breeds That Are Impossible Not to Love" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Large Dog Breeds That Are Impossible Not to Love</strong>
                            <span>Everybody loves a little lap dog — but when it comes to canines, big ol' fuzzy dog breeds are where it's at. There are just so many more things big dogs can do and places they can go. Plus,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 2790px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1815766/1/0/2270785/34/" data-destination-hash="b6e34f41bdb2bf7d0c1578a79ec9b354" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 34']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/1815766_240.jpg" title="6 Signs Your Dog Loves You" alt="6 Signs Your Dog Loves You" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">6 Signs Your Dog Loves You</strong>
                            <span>I consider my dogs Shakira, Gracie, Quora, Quixote and QT as full-on members of my family. I love them with all my heart. But do they love me back?</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 2917px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630843/1/0/2270785/35/" data-destination-hash="8d4ea84d53643f334bb6d15889e19c34" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 35']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2630843_240.jpg" title="Animal Names Parents Are Giving Their Babies" alt="Animal Names Parents Are Giving Their Babies" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Animal Names Parents Are Giving Their Babies</strong>
                            <span>These animal names have varying degrees of popularity in the U.S. ― from fairly common options like Robin and Raven to the more unusual Wolf,&nbsp;Finch and Starling.&nbsp;And of course there’s the...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 3192px;">
                    <a class="box-link" href="http://www.zergnet.com/o/843601/1/0/2270785/36/" data-destination-hash="476b776c9b423d94e86da3cf91a881b1" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 36']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/843601_240.jpg" title="16 Quiet Dog Breeds That WIll Give You Some Peace &amp; Quiet" alt="16 Quiet Dog Breeds That WIll Give You Some Peace &amp; Quiet" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">16 Quiet Dog Breeds That WIll Give You Some Peace &amp; Quiet</strong>
                            <span>Whitney Coy is a freelance writer and editor based in Columbus, OH, where she lives with her husband and two daughters. She writes frequently for SheKnows, as well as several other websites. She...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 3203px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2133315/1/0/2270785/37/" data-destination-hash="df9ca9577fd5ad51fef81a03b1583237" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 37']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2133315_240.jpg" title="The Five Most Dramatic Dog Breeds, According to Science" alt="The Five Most Dramatic Dog Breeds, According to Science" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">The Five Most Dramatic Dog Breeds, According to Science</strong>
                            <span>If you took a look at this post's title and asked yourself, “How can a dog be dramatic?” well, then, you’ve clearly never had a dog. Dogs are&nbsp;made for drama. Their entire freaking lives are...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 3221px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2374325/1/0/2270785/38/" data-destination-hash="1a55650de54d689197db323500ea4cbd" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 38']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2374325_240.jpg" title="A Sign She Was the Right Dog" alt="A Sign She Was the Right Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">A Sign She Was the Right Dog</strong>
                            <span>I already had four dogs. But I couldn’t resist the adorable furry face in my Facebook feed. A chocolate teacup poodle who’d been liberated from a puppy mill down South. I contacted the...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 3246px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1995781/1/0/2270785/39/" data-destination-hash="202572f36cd0695ee8584516d16db700" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 39']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1995781_240.jpg" title="Facts About German Shepherds You Need to Know Before Adopting" alt="Facts About German Shepherds You Need to Know Before Adopting" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Facts About German Shepherds You Need to Know Before Adopting</strong>
                            <span>There's no doubt about it. German shepherds are gorgeous animals. Those big brown eyes, that gorgeous fur and muscular stature pretty much make them look like a real-life teddy bear, but in the...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 3390px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1604602/1/0/2270785/40/" data-destination-hash="b114fe123c7d7ddf4a8cc5af3ee2f4d6" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 40']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/1604602_240.jpg" title="15 Adorable Ways Your Dog Expresses His Love for You" alt="15 Adorable Ways Your Dog Expresses His Love for You" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Adorable Ways Your Dog Expresses His Love for You</strong>
                            <span>When you get a dog, your life changes. Your dog becomes a boisterous new member of your family. He probably eats in your kitchen, and maybe he sleeps on your couch. He might take over your yard...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 3665px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2416255/1/0/2270785/41/" data-destination-hash="0a1389f1c1a99f0050fa293b174d4e0b" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 41']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2416255_240.jpg" title="10 Dog Breeds That Actually Don't Stink" alt="10 Dog Breeds That Actually Don't Stink" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Dog Breeds That Actually Don't Stink</strong>
                            <span>It's weird that we pay so close attention to how our dogs smell, right? Puppy breath. Frito paws. Wet dog. Some smells are more pleasant than others, and every dog is capable of smelling bad,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div></div>

</div>

<div id="bottomdiv" class="clear">&nbsp;</div>
<div id="fb-root"></div>

<div style="height: 25px;"></div>


<script src="https://connect.facebook.net/signals/config/1518983274790401?v=2.8.12&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="http://rules.quantcount.com/rules-p-WvZ13FAptHuHF.js"></script><script async="" src="http://b.scorecardresearch.com/beacon.js"></script><script src="http://edge.quantserve.com/quant.js" async="" type="text/javascript"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://img4.zergnet.com/0_assets/js/zergonry.v5.min.js"></script>
<script src="http://img.zergnet.com/0_assets/js/nav.min.js?v=1"></script>
<script language="javascript" type="text/javascript">
    var ajaxworking = 0;
    var $container = $('#container');
    var nextpage = "#/2270785/2/0/49135/0";

    $container.show();

    $container.masonry({
        itemSelector : '.item',
        isFitWidth: true,
        transitionDuration: 0,
        gutter: 10,
                columnWidth : 242
    });
    
    ajaxScroll(1);
    resetscroll();

    var foundUrls = {};
    $(".item a").each(function(){
        var hash = $(this).attr("data-destination-hash");
        if ( hash ) {
            foundUrls[hash] = 1;
        }
    });

    function ajaxScroll(first) {
        if (ajaxworking < 1) {
            ajaxworking = 1;
            var runTest = false;

            if (nextpage != "none"){
                $.ajax({
                    url: '/ajax/load_results.php',
                    dataType: 'jsonp',
                    data: {
                        queryString: nextpage,
                        runTest: runTest
                    },
                    success: function(data) {
                        ajaxworking = 0;
                        nextpage = data.nexturl;
                        var $boxes = data.boxes;
                        var $finalBoxes = [];
                        for ( var b = 0; b < $boxes.length; b++ ) {
                            var match = $boxes[b].match(/data-destination-hash="[^\"]+"/)
                            if (match) {
                                var url = match[0].replace('data-destination-hash=', '').replace(/"/g, '')
                                if (typeof( foundUrls[url] ) === "undefined") {
                                    foundUrls[url] = 1;
                                    var els = $.parseHTML($boxes[b]);
                                    for ( var i = 0; i < els.length; i++ ) {
                                        if ( els[i].nodeType == 1 ) {
                                            $finalBoxes.push(els[1]);
                                        }
                                    }
                                }
                            }
                        }

                        $('#container').append($finalBoxes).masonry('appended', $finalBoxes);


                        if (first == 0) {
                            _gaq.push(['_trackPageview']);
                        } else {
                             _gaq.push(['_trackEvent', 'Desktop-Control', 'Page Scroll']);
                        }

                        var docHeight = $(document).height();
                        var docScroll = $(window).height() + $(window).scrollTop();
                        if (docHeight == docScroll) {
                            ajaxScroll(0);
                        }
                    }
                });
            }
        }
    }

    function getbottom(){
        var el = $('#bottomdiv');
        if (!el.length) return 0;
        var bottom = el.offset().top + (el.height());
        return bottom-400;
    }


    function resetscroll(){
        $(window).scroll(scroll_handler);
    }


    function scroll_handler(){
        if (($(window).scrollTop() + $(window).height()) >= getbottom()) {
            ajaxScroll(0);
        }
    }

    initMobileNav();
</script>
<script>
// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27989123-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();


// Quantcast
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({ qacct:"p-WvZ13FAptHuHF" });


// Comscore
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "15365226" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);



var test = document.createElement('div');
test.innerHTML = '&nbsp;';
test.className = 'adsbox';
document.body.appendChild(test);
window.setTimeout(function() {
	if (test.offsetHeight === 0) {
		_gaq.push(['_trackEvent','AdBlock','1']);
	} else {
                    // FB
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1518983274790401');
            fbq('track', 'PageView');
            fbq('track', 'v', {id: 68});
            }
}, 100);
})();
</script><div class="adsbox">&nbsp;</div>
<script>

    (function() {
      if ( typeof( _gaq ) !== "undefined" ) {
            _gaq.push(['_trackEvent', 'Desktop-Control','View']);
        }
    })();

</script>



</body>