<head>
    <title>The 5 Most Inexpensive Pets You Can Own - ZergNet</title>

    <meta itemprop="name" content="The 5 Most Inexpensive Pets You Can Own">
                        <meta itemprop="description" content="How much is that doggie in the window? He costs a lot more than you might realize, even if the price to take him home today seems low. While you might be able to adopt a dog from a shelter for...">
                        <meta itemprop="image" content="http://img.zergnet.com/1613500_300.jpg"><meta property="og:title" content="The 5 Most Inexpensive Pets You Can Own">
                        <meta property="og:type" content="article">
                        <meta property="og:description" content="How much is that doggie in the window? He costs a lot more than you might realize, even if the price to take him home today seems low. While you might be able to adopt a dog from a shelter for...">
                        <meta property="og:url" content="http://www.zergnet.com/news/1613500/the-5-most-inexpensive-pets-you-can-own">
                        <meta property="og:image" content="http://img.zergnet.com/1613500_300.jpg">
                        <meta property="og:site_name" content="ZergNet.com"><meta name="twitter:card" content="summary">
                        <meta name="twitter:site" content="@ZergNetMoviesTV">
                        <meta name="twitter:title" content="The 5 Most Inexpensive Pets You Can Own">
                        <meta name="twitter:description" content="How much is that doggie in the window? He costs a lot more than you might realize, even if the price to take him home today seems low. While you might be able to adopt a dog from a shelter for...">
                        <meta name="twitter:image" content="http://img.zergnet.com/1613500_300.jpg">
    <link rel="shortcut icon" href="http://www.zergnet.com/favicon.ico">
    <link rel="canonical" href="http://www.zergnet.com/news/1613500/the-5-most-inexpensive-pets-you-can-own">

    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="fb:admins" content="100003356974192">
    <meta property="fb:app_id" content="286024868122055">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://img2.zergnet.com/0_assets/css/index_v23.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"/><![endif]-->

    
</head>

<body style="min-width:1090px;">
<div class="nav-drop">
    <div class="jcf-scrollable">
        <div class="nav-top">
            <div class="logo">
                &nbsp;
                <a href="#" class="nav-opener close"><span>×</span></a>
            </div>
        </div>
        <div class="aside-holder">
            <div id="aside-nav">
                <ul>
                    <li class=""><a href="/v/gaming">Video Games</a></li>
                    <li class=""><a href="/v/movies">Movies</a></li>
                    <li class=""><a href="/v/celeb">Entertainment</a></li>
                    <li class=""><a href="/v/food">Food</a></li>
                    <li class=""><a href="/v/menslife">Men's Lifestyle</a></li>
                    <li class=""><a href="/v/sports">Sports</a></li>
                    <li class=""><a href="/v/tv">TV</a></li>
                    <li class=""><a href="/v/womenslife">Women's Lifestyle</a></li>
                    <li class=""><a href="/v/health">Health and Fitness</a></li>
                    <li class=""><a href="/v/travel">Travel</a></li>
                    <li class=""><a href="/v/parenting">Parenting</a></li>
                    <li class=""><a href="/v/viral">Viral</a></li>
                    <li class="info-links first-info-link"><a href="/info">About Us</a></li>
                    <li class="info-links"><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-bottom">
            <span class="copyright-info">© 2018                ZergNet.com.
                All rights reserved
            </span>
        </div>
    </div>
</div>    <div id="header">
        <div class="header-holder">
          <a href="#" class="nav-opener"><span>Menu</span></a>
          <strong class="logo"><a href="http://ZergNet.com">ZergNet</a></strong>
            <ul id="nav">
                <li><a href="http://www.zergnet.com/v/movies">MOVIES</a></li>
                <li class="spring"><a href="http://www.zergnet.com/v/gaming">GAMING</a></li>
                <li class="magenta"><a href="http://www.zergnet.com/v/celeb">ENTERTAINMENT</a></li>
                <li class="coral"><a href="http://www.zergnet.com/v/sports">SPORTS</a></li>
                <li class="pink"><a href="http://www.zergnet.com/v/food">FOOD &amp; DRINK</a></li>
                <li class="orange"><a href="http://www.zergnet.com/v/men">MEN’S LIFESTYLE</a></li>
            </ul>
            <div class="btn-holder">
                <a href="https://www.zergnet.com/info" class="btn-sign-up">Learn More</a>
                <a href="https://www.zergnet.com/info?l=1" class="btn-login">Login</a>
            </div>
        </div>
    </div>


<div id="main-container">
<div id="container" class="main-container" style="clear: both; display: block; position: relative; width: 1250px; height: 3994px;">
    
    <div id="main">

                    <div class="item first" style="position: absolute; left: 0px; top: 0px;">

          <a class="mainbox-link" href="http://www.zergnet.com/o/1613500/1/0/1613500" data-destination-hash="8ffc54a966d887ecc0423f27965a79e6" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Featured']);">
          <span class="img-holder" style="position:relative;height:300px;background:#333;">
            <img style="position:absolute;left:192px;" src="http://img2.zergnet.com/1613500_300.jpg" title="The 5 Most Inexpensive Pets You Can Own" alt="The 5 Most Inexpensive Pets You Can Own" width="300" height="300" border="0">
            <strong class="title-box"><span class="bg">The 5 Most Inexpensive </span><br><span class="bg">Pets You Can </span><br><span class="bg">Own </span><br></strong>
                          <img class="top" src="http://img1.zergnet.com/0_assets/images/icon-zerg.png" width="56" height="57">
                      </span>
                    <span class="text" style="color:#555;">How much is that doggie in the window? He costs a lot more than you might realize, even if the price to take him home today seems low. While you might be able to adopt a dog from a shelter for...<div style="clear:both;"></div></span>
                    <span class="view" style="top:200px;">VIEW STORY</span>
                    <span class="hover-block"></span>
                </a>
            </div>

        

</div>
<div class="item second" style="position: absolute; left: 504px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/843315/1/0/1613500/1/" data-destination-hash="f385cf8137dc119e82531726482c7aca" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 1']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/843315_240.jpg" title="20 Small Dog Breeds That Are The Cutest On The Planet" alt="20 Small Dog Breeds That Are The Cutest On The Planet" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">20 Small Dog Breeds That Are The Cutest On The Planet</strong>
                            <span>Lovingly referred to as the "Yorkie," the Yorkshire terrier is the ultimate cutie in small breeds. Not only are they tiny, some are even "teacup"! Adorable for dress-up or play, the Yorkshire...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2674587/1/0/1613500/2/" data-destination-hash="0545f77e7d5c465703ad7c54daeea574" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 2']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2674587_240.jpg" title="30 Popular Dog Breeds That Don't Shed" alt="30 Popular Dog Breeds That Don't Shed" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">30 Popular Dog Breeds That Don't Shed</strong>
                            <span>Dogs are awesome and&nbsp;offer their owners many free perks. But dog hair is not one of them. If you're looking for a pooch that isn't a shedding machine, don't worry -- you've got options. The truth...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 0px;">
                    <a class="box-link" href="http://www.zergnet.com/o/846167/1/0/1613500/3/" data-destination-hash="4ad26f7e65e79a0bf71326fe89c988b5" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 3']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/846167_240.jpg" title="10 Small Dog Breeds That Are Great With Children" alt="10 Small Dog Breeds That Are Great With Children" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Small Dog Breeds That Are Great With Children</strong>
                            <span>This pint-sized pup has an irresistible face and prominently curved tail that any child will find intriguing. The Pug does especially well in a moderate climate but is just as comfortable hanging...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 396px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2270785/1/0/1613500/4/" data-destination-hash="fe56a641396202bb7d2c254b51e00f17" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 4']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2270785_240.jpg" title="These Are the 25 Smartest Dog Breeds, According to Science" alt="These Are the 25 Smartest Dog Breeds, According to Science" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are the 25 Smartest Dog Breeds, According to Science</strong>
                            <span>It goes without saying that all dogs are adorable. But as anyone who’s spent two minutes with a beagle knows, some breeds are just a little goofier than others. So, when it comes to obedience...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 396px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2484508/1/0/1613500/5/" data-destination-hash="a920a0cc25087bb7d70e86d2d9534fbf" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 5']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2484508_240.jpg" title="20 Human Foods Dogs Can Eat" alt="20 Human Foods Dogs Can Eat" width="240" height="240">

                            <span class="named">                                <strong class="title-news">20 Human Foods Dogs Can Eat</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 473px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2345201/1/0/1613500/6/" data-destination-hash="bbc28cffa4a6de6d706996361cc66cff" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 6']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2345201_240.jpg" title="These Are the Best Dog Breeds for Seniors and Retirees" alt="These Are the Best Dog Breeds for Seniors and Retirees" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are the Best Dog Breeds for Seniors and Retirees</strong>
                            <span>Dog ownership offers many health benefits and&nbsp;improves your life in many important ways. And retirement can be the ideal time to bring a new furry companion into your home, especially if you find...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 473px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2476405/1/0/1613500/7/" data-destination-hash="22c616e2375f863b1aafb0edafac6438" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 7']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2476405_240.jpg" title="12 Awesome Dog Breeds That Don't Mind the Snow" alt="12 Awesome Dog Breeds That Don't Mind the Snow" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">12 Awesome Dog Breeds That Don't Mind the Snow</strong>
                            <span>Clearly, when you hear of a dog with "Alaska" in its name, you know that pup is winter-ready...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 473px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2452876/1/0/1613500/8/" data-destination-hash="003d96480586375db4f353492c9dd715" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 8']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2452876_240.jpg" title="Top 10 Most Exotic &amp; Expensive Pets" alt="Top 10 Most Exotic &amp; Expensive Pets" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Top 10 Most Exotic &amp; Expensive Pets</strong>
                            <span>A lot of people love cats and dogs, which are the most common pets. While dogs are usually friendly, cats can be extremely jealous, and after these two, fish are the most popular...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 648px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2623921/1/0/1613500/9/" data-destination-hash="2d6208ac0dbcb18a422d4ade974e07b8" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 9']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2623921_240.jpg" title="Here's How Much Chocolate It Takes To Be Toxic To Your Pet" alt="Here's How Much Chocolate It Takes To Be Toxic To Your Pet" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Here's How Much Chocolate It Takes To Be Toxic To Your Pet</strong>
                            <span>Most pet parents know that they shouldn’t feed their pets chocolate, but the number of pet food poisoning cases always tends to spike at the end of October due to&nbsp;excessive amounts of Halloween...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 869px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2293343/1/0/1613500/10/" data-destination-hash="5155697f38f0842d20354acafd285478" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 10']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2293343_240.jpg" title="How Your Dog Can Improve Your Sleep" alt="How Your Dog Can Improve Your Sleep" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">How Your Dog Can Improve Your Sleep</strong>
                            <span>In our&nbsp;daily news series, experts address some of the latest fitness research, nutrition, style, and health stories.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 892px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2551580/1/0/1613500/11/" data-destination-hash="4659e5045007f33a65dcac9c4260b59a" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 11']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2551580_240.jpg" title="How Many Hours Do Dogs Sleep Each Day?" alt="How Many Hours Do Dogs Sleep Each Day?" width="240" height="240">

                            <span class="named">                                <strong class="title-news">How Many Hours Do Dogs Sleep Each Day?</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 922px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630843/1/0/1613500/12/" data-destination-hash="8d4ea84d53643f334bb6d15889e19c34" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 12']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2630843_240.jpg" title="Animal Names Parents Are Giving Their Babies" alt="Animal Names Parents Are Giving Their Babies" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Animal Names Parents Are Giving Their Babies</strong>
                            <span>These animal names have varying degrees of popularity in the U.S. ― from fairly common options like Robin and Raven to the more unusual Wolf,&nbsp;Finch and Starling.&nbsp;And of course there’s the...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 946px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2093212/1/0/1613500/13/" data-destination-hash="fc0ee9c203dc34e18a4952b997326ceb" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 13']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2093212_240.jpg" title="10 Dog Breeds That Are Super Difficult to train" alt="10 Dog Breeds That Are Super Difficult to train" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Dog Breeds That Are Super Difficult to train</strong>
                            <span>We'd all love to adopt a puppy who comes automatically potty trained and is perfectly obedient from the get-go. A super-cute dog that sits, stays and doesn't pee all over the floor sounds like a...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 1139px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1918814/1/0/1613500/14/" data-destination-hash="9a8fabbac26169de43ca7cea0ac04c86" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 14']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/1918814_240.jpg" title="The Deadly Reason Why You Shouldn't Let Dogs Lick Your Face" alt="The Deadly Reason Why You Shouldn't Let Dogs Lick Your Face" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">The Deadly Reason Why You Shouldn't Let Dogs Lick Your Face</strong>
                            <span>Affectionate dog owners are at risk of catching a potentially deadly disease.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 1144px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1240050/1/0/1613500/15/" data-destination-hash="015c794236b0b5b29a67d07e4617c6dc" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 15']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1240050_240.jpg" title="What Dog Breed Should You Get Based on Your Personality Type?" alt="What Dog Breed Should You Get Based on Your Personality Type?" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">What Dog Breed Should You Get Based on Your Personality Type?</strong>
                            <span>Getting a dog is a big decision, and no two breeds are exactly the same. For example, a lazy basset hound may be content chilling all day on his doggy bed, but that frisky golden retriever isn’t...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 1282px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2608285/1/0/1613500/16/" data-destination-hash="66deed921cb7f8624293e8a87e1e89e7" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 16']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2608285_240.jpg" title="Family Finds Super Strange Animal Behind Their TV" alt="Family Finds Super Strange Animal Behind Their TV" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Family Finds Super Strange Animal Behind Their TV</strong>
                            <span>“Do you know what it is?”</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 1395px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1604602/1/0/1613500/17/" data-destination-hash="b114fe123c7d7ddf4a8cc5af3ee2f4d6" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 17']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/1604602_240.jpg" title="15 Adorable Ways Your Dog Expresses His Love for You" alt="15 Adorable Ways Your Dog Expresses His Love for You" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Adorable Ways Your Dog Expresses His Love for You</strong>
                            <span>When you get a dog, your life changes. Your dog becomes a boisterous new member of your family. He probably eats in your kitchen, and maybe he sleeps on your couch. He might take over your yard...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 1419px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2035097/1/0/1613500/18/" data-destination-hash="0de5f2a0fa81f291a9d7e724482491a7" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 18']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2035097_240.jpg" title="These Are the Most Expensive Dogs Out There" alt="These Are the Most Expensive Dogs Out There" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are the Most Expensive Dogs Out There</strong>
                            <span>When you factor in vet bills, food and grooming, all dogs are pretty expensive. It's a small price to pay for undying loyalty and unconditional love, though&nbsp;— right? And while adopting any pet...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 1582px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1327332/1/0/1613500/19/" data-destination-hash="7f6ae52e238e620a45bd0d0d74d69375" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 19']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1327332_240.jpg" title="Slain Officer's K-9 Struggles to Say Goodbye During Wake" alt="Slain Officer's K-9 Struggles to Say Goodbye During Wake" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Slain Officer's K-9 Struggles to Say Goodbye During Wake</strong>
                            <span>Hundreds of people gathered at Ford Field Wednesday for a visitation for fallen Wayne State University police officer Collin Rose...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 1641px;">
                    <a class="box-link" href="http://www.zergnet.com/o/819138/1/0/1613500/20/" data-destination-hash="624a81d5b58c579d7e52fe65e0e2ee87" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 20']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/819138_240.jpg" title="Dog Who Survived Having Muzzle Taped Gets Best Day Ever" alt="Dog Who Survived Having Muzzle Taped Gets Best Day Ever" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Dog Who Survived Having Muzzle Taped Gets Best Day Ever</strong>
                            <span>A dog found with her muzzle bound shut with electrical tape in July was just given the “Best Day Ever.” Caitlyn was taken in by the Charleston Animal Society after she was found with her...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 1665px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630158/1/0/1613500/21/" data-destination-hash="dc1ad799b6c5382449573b19693a6194" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 21']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2630158_240.jpg" title="'One in a Million' Yellow Cardinal Spotted by Photographer" alt="'One in a Million' Yellow Cardinal Spotted by Photographer" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">'One in a Million' Yellow Cardinal Spotted by Photographer</strong>
                            <span>An Alabama photographer recently captured stunning images of a cardinal so rare that experts have referred to it as "one in a million."&nbsp;</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 1886px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2309662/1/0/1613500/22/" data-destination-hash="04e4cf98b0cde6f5aea0686ae667ba7c" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 22']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2309662_240.jpg" title="The Most Popular Dog Names of 2017" alt="The Most Popular Dog Names of 2017" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">The Most Popular Dog Names of 2017</strong>
                            <span>Rover has announced its annual list of most popular dog names for the year. And the winners are...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 1892px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2302305/1/0/1613500/23/" data-destination-hash="162e1e41cdd6a9b132dc841e2e842e20" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 23']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2302305_240.jpg" title="6 Things You Should Never Do When Adopting a Dog" alt="6 Things You Should Never Do When Adopting a Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">6 Things You Should Never Do When Adopting a Dog</strong>
                            <span>Adopting a dog is a joyful decision. You’re choosing to bring home a new family member that you will love unconditionally.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 2061px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1995781/1/0/1613500/24/" data-destination-hash="202572f36cd0695ee8584516d16db700" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 24']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/1995781_240.jpg" title="Facts About German Shepherds You Need to Know Before Adopting" alt="Facts About German Shepherds You Need to Know Before Adopting" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Facts About German Shepherds You Need to Know Before Adopting</strong>
                            <span>There's no doubt about it. German shepherds are gorgeous animals. Those big brown eyes, that gorgeous fur and muscular stature pretty much make them look like a real-life teddy bear, but in the...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 2114px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1399468/1/0/1613500/25/" data-destination-hash="19ce7811d5119d57af604f8f2e183f66" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 25']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/1399468_240.jpg" title="15 Foods You Should Never Give to Your Dog" alt="15 Foods You Should Never Give to Your Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Foods You Should Never Give to Your Dog</strong>
                            <span>Dogs are mealtime opportunists. You’re finishing your dinner, and Sparky thinks it’s his turn to chow down on whatever table scraps are left on your plate. Or you’re grabbing a quick snack,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 2126px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2045372/1/0/1613500/26/" data-destination-hash="271c8d609f7dbc992fda14843f4adc9e" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 26']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2045372_240.jpg" title="Keep Your Pet in Your Bedroom for a Better Night's Sleep" alt="Keep Your Pet in Your Bedroom for a Better Night's Sleep" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Keep Your Pet in Your Bedroom for a Better Night's Sleep</strong>
                            <span>Want a better night's rest? Invite Fido into your bedroom! You could improve your sleep quality just by snoozing with your pet.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 2281px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1730495/1/0/1613500/27/" data-destination-hash="dda8ff45ba6e9ef05644348becc1eef4" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 27']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/1730495_240.jpg" title="These Snakes Have Been Found Hunting in Packs" alt="These Snakes Have Been Found Hunting in Packs" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Snakes Have Been Found Hunting in Packs</strong>
                            <span>In the caves of Cuba, at Desembarco del Granma National Park, boas hunt in packs. That’s the conclusion of a study published in Animal Behavior and Cognition, reports ScienceAlert.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 2329px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2651086/1/0/1613500/28/" data-destination-hash="0fcadb528f214d4992b45d69b327d39a" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 28']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2651086_240.jpg" title="New Species of 'Water Bear' Discovered in Japan" alt="New Species of 'Water Bear' Discovered in Japan" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">New Species of 'Water Bear' Discovered in Japan</strong>
                            <span>It’s not often that a microscopic organism gains celebrity status, but that’s exactly what tardigrades have managed to accomplish. The tiny organisms often called “water bears” due to...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 2558px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2399803/1/0/1613500/29/" data-destination-hash="31b3e410e1394a1f756f4bf25180706d" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 29']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2399803_240.jpg" title="Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You" alt="Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Science Confirms Your Dog Makes 'Puppy Dog Eyes' Just For You</strong>
                            <span>Pet dogs   communicate with specific facial expressions when their owners are looking at them, according to a new study, and not just because they’re excited about the possibility of food....</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 2563px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1915888/1/0/1613500/30/" data-destination-hash="33fc1df90c7ddceffe5d00c13f5c8c89" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 30']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/1915888_240.jpg" title="This May Be the Reason Why Your Dog Is Eating Grass" alt="This May Be the Reason Why Your Dog Is Eating Grass" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">This May Be the Reason Why Your Dog Is Eating Grass</strong>
                            <span>Are you worried because your pooch has been eating a lot of grass lately? Dogs will eat pretty much anything -- but why grass?</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 2587px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2494164/1/0/1613500/31/" data-destination-hash="798cd1890b0eafd6ea84490c6cc8647e" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 31']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2494164_240.jpg" title="Surprising Animals That Are More Likely to Kill You Than Sharks" alt="Surprising Animals That Are More Likely to Kill You Than Sharks" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Surprising Animals That Are More Likely to Kill You Than Sharks</strong>
                            <span>When it comes to the animals most likely to kill Americans, it’s not always the big beasts who are to blame.</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 2754px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1771571/1/0/1613500/32/" data-destination-hash="95851f9130f4ca5f35418237faa9ba14" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 32']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/1771571_240.jpg" title="These Kittens Were Raised by Rabbits, So Now They Hop Like Them" alt="These Kittens Were Raised by Rabbits, So Now They Hop Like Them" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Kittens Were Raised by Rabbits, So Now They Hop Like Them</strong>
                            <span>If we were to create a hierarchy of cute things, bunnies and kittens would definitely fall in the top five. (We are leaving spots for puppies, babies, and chickadees, to be ordered however we see...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 2802px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320523/1/0/1613500/33/" data-destination-hash="ca759b6ab834b6506b4f742c4e514d66" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 33']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2320523_240.jpg" title="The Most Obedient Dog Breeds Ever" alt="The Most Obedient Dog Breeds Ever" width="240" height="240">

                            <span class="named">                                <strong class="title-news">The Most Obedient Dog Breeds Ever</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 3000px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1940828/1/0/1613500/34/" data-destination-hash="7b87f20af96cd80e419b89482e9e245b" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 34']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/1940828_240.jpg" title="10 Large Dog Breeds That Are Impossible Not to Love" alt="10 Large Dog Breeds That Are Impossible Not to Love" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Large Dog Breeds That Are Impossible Not to Love</strong>
                            <span>Everybody loves a little lap dog — but when it comes to canines, big ol' fuzzy dog breeds are where it's at. There are just so many more things big dogs can do and places they can go. Plus,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 3048px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2550417/1/0/1613500/35/" data-destination-hash="2b1bb3188d58513e82027b6193cd1ff8" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 35']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2550417_240.jpg" title="11 of the Smushiest Celeb Pets We’ve Ever Seen" alt="11 of the Smushiest Celeb Pets We’ve Ever Seen" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">11 of the Smushiest Celeb Pets We’ve Ever Seen</strong>
                            <span>We know, we know: Your own Ozzy Pawsborne takes the cake when it comes to cuteness. But, personal bias aside, these furry celeb squishes are yummy enough to eat. Here, the 11 smushiest celeb pets...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 504px; top: 3054px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1224887/1/0/1613500/36/" data-destination-hash="490bd717ebab59ee137426391281d029" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 36']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/1224887_240.jpg" title="15 Foods You Should Never Give to Your Dog" alt="15 Foods You Should Never Give to Your Dog" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">15 Foods You Should Never Give to Your Dog</strong>
                            <span>Dogs are mealtime opportunists. You’re finishing your dinner, and Sparky thinks it’s his turn to chow down on whatever table scraps are left on your plate. Or you’re grabbing a quick snack,...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 3055px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2134031/1/0/1613500/37/" data-destination-hash="35577fc6e7035463a798e570214a5306" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 37']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/2134031_240.jpg" title="Top 10 Cutest Puppies" alt="Top 10 Cutest Puppies" width="240" height="240">

                            <span class="named">                                <strong class="title-news">Top 10 Cutest Puppies</strong>
                            </span>
                        </span>

                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 1008px; top: 3251px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320563/1/0/1613500/38/" data-destination-hash="17d5eb823c1564b87827f52d99b085a0" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 38']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img2.zergnet.com/2320563_240.jpg" title="10 Best Dog Breeds for City Dwellers" alt="10 Best Dog Breeds for City Dwellers" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">10 Best Dog Breeds for City Dwellers</strong>
                            <span>Do your dreams of dog ownership seemed to be hampered by your square footage? Are you worried about your neighbors complaining about barking noise, or a lack of dog parks in your neighborhood?...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 252px; top: 3307px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2320509/1/0/1613500/39/" data-destination-hash="2ad4e38089680937e9d58174f9956240" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 39']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img5.zergnet.com/2320509_240.jpg" title="These Are The Benefits Of Having Two Dogs" alt="These Are The Benefits Of Having Two Dogs" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Are The Benefits Of Having Two Dogs</strong>
                            <span>If you have a busy work schedule and spend a lot of time out of the home, having two dogs can help your peace of mind. Your dogs can play with each other, which can be effective for keeping...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 0px; top: 3473px;">
                    <a class="box-link" href="http://www.zergnet.com/o/2630221/1/0/1613500/40/" data-destination-hash="0c2de162c51d572956b6229524bec93a" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 40']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img4.zergnet.com/2630221_240.jpg" title="Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;" alt="Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">Zoo Staff Baffled After Lioness Suddenly Grows a Mane&nbsp;</strong>
                            <span>Personnel at the Oklahoma City Zoo are working hard to solve the mystery of an 18-year-old lioness named Bridget who suddenly sprouted a partial mane. At this time, the long hair has grown only in...</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div><div class="item second" style="position: absolute; left: 756px; top: 3521px;">
                    <a class="box-link" href="http://www.zergnet.com/o/1573239/1/0/1613500/41/" data-destination-hash="5f00c04c700fde57c151cacd0cc38a3d" rel="nofollow" target="_blank" onclick="_gaq.push(['_trackEvent', 'Desktop-Control', 'Click', 'Page: 2 and Recommendation: 41']);">
                        <span class="img-holder" style="width:240px;height:240px;">
                            <img src="http://img1.zergnet.com/1573239_240.jpg" title="These Teeny-Tiny Puppies Come With Huge Price Tags" alt="These Teeny-Tiny Puppies Come With Huge Price Tags" width="240" height="240">

                            <span class="named">                            </span>
                        </span>
                        <span class="text">
                            <strong class="post-title">These Teeny-Tiny Puppies Come With Huge Price Tags</strong>
                            <span>[Editor's note: This is your gentle reminder that even if you are looking for a specific breed, you can search [BREED] + shelter and rescue the dog of your dreams. #AdoptDontShop]</span>
                        </span>
                        <span class="hover-block"></span>
                    </a>
                </div></div>

</div>

<div id="bottomdiv" class="clear">&nbsp;</div>
<div id="fb-root"></div>

<div style="height: 25px;"></div>


<script src="https://connect.facebook.net/signals/config/1518983274790401?v=2.8.12&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="http://rules.quantcount.com/rules-p-WvZ13FAptHuHF.js"></script><script async="" src="http://b.scorecardresearch.com/beacon.js"></script><script src="http://edge.quantserve.com/quant.js" async="" type="text/javascript"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://img4.zergnet.com/0_assets/js/zergonry.v5.min.js"></script>
<script src="http://img.zergnet.com/0_assets/js/nav.min.js?v=1"></script>
<script language="javascript" type="text/javascript">
    var ajaxworking = 0;
    var $container = $('#container');
    var nextpage = "#/1613500/2/0/49135/0";

    $container.show();

    $container.masonry({
        itemSelector : '.item',
        isFitWidth: true,
        transitionDuration: 0,
        gutter: 10,
                columnWidth : 242
    });
    
    ajaxScroll(1);
    resetscroll();

    var foundUrls = {};
    $(".item a").each(function(){
        var hash = $(this).attr("data-destination-hash");
        if ( hash ) {
            foundUrls[hash] = 1;
        }
    });

    function ajaxScroll(first) {
        if (ajaxworking < 1) {
            ajaxworking = 1;
            var runTest = false;

            if (nextpage != "none"){
                $.ajax({
                    url: '/ajax/load_results.php',
                    dataType: 'jsonp',
                    data: {
                        queryString: nextpage,
                        runTest: runTest
                    },
                    success: function(data) {
                        ajaxworking = 0;
                        nextpage = data.nexturl;
                        var $boxes = data.boxes;
                        var $finalBoxes = [];
                        for ( var b = 0; b < $boxes.length; b++ ) {
                            var match = $boxes[b].match(/data-destination-hash="[^\"]+"/)
                            if (match) {
                                var url = match[0].replace('data-destination-hash=', '').replace(/"/g, '')
                                if (typeof( foundUrls[url] ) === "undefined") {
                                    foundUrls[url] = 1;
                                    var els = $.parseHTML($boxes[b]);
                                    for ( var i = 0; i < els.length; i++ ) {
                                        if ( els[i].nodeType == 1 ) {
                                            $finalBoxes.push(els[1]);
                                        }
                                    }
                                }
                            }
                        }

                        $('#container').append($finalBoxes).masonry('appended', $finalBoxes);


                        if (first == 0) {
                            _gaq.push(['_trackPageview']);
                        } else {
                             _gaq.push(['_trackEvent', 'Desktop-Control', 'Page Scroll']);
                        }

                        var docHeight = $(document).height();
                        var docScroll = $(window).height() + $(window).scrollTop();
                        if (docHeight == docScroll) {
                            ajaxScroll(0);
                        }
                    }
                });
            }
        }
    }

    function getbottom(){
        var el = $('#bottomdiv');
        if (!el.length) return 0;
        var bottom = el.offset().top + (el.height());
        return bottom-400;
    }


    function resetscroll(){
        $(window).scroll(scroll_handler);
    }


    function scroll_handler(){
        if (($(window).scrollTop() + $(window).height()) >= getbottom()) {
            ajaxScroll(0);
        }
    }

    initMobileNav();
</script>
<script>
// Google Analytics
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-27989123-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();


// Quantcast
var _qevents = _qevents || [];
(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();
_qevents.push({ qacct:"p-WvZ13FAptHuHF" });


// Comscore
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "15365226" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);



var test = document.createElement('div');
test.innerHTML = '&nbsp;';
test.className = 'adsbox';
document.body.appendChild(test);
window.setTimeout(function() {
	if (test.offsetHeight === 0) {
		_gaq.push(['_trackEvent','AdBlock','1']);
	} else {
                    // FB
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1518983274790401');
            fbq('track', 'PageView');
            fbq('track', 'v', {id: 68});
            }
}, 100);
})();
</script><div class="adsbox">&nbsp;</div>
<script>

    (function() {
      if ( typeof( _gaq ) !== "undefined" ) {
            _gaq.push(['_trackEvent', 'Desktop-Control','View']);
        }
    })();

</script>



</body>